@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a Invoice Generator developed by Ashiq Mathew using MVC with Entity Framework.</p>
    <p>Click on Invoices on Navigation Bar to View</p>
</div>
